<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="pt-br"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout-quasar}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">
    <!--     <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet"> -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/quasar-framework@^0.17.0/dist/umd/quasar.mat.min.css" rel="stylesheet" type="text/css">

    <title>Quasar App - centrocac</title>

  </head>
  <body>
  <section layout:fragment="content">
	<div >	
		<component-colaborador></component-colaborador>		
	</div>
   <script src="https://cdn.jsdelivr.net/npm/vue@latest/dist/vue.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar-framework@^0.17.0/dist/umd/quasar.mat.umd.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/quasar-framework@^0.17.0/dist/umd/icons.fontawesome.umd.min.js"></script>
    <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
    <script src="js/app.js"></script>
 <script>   
 
//  Vue.ready(() => {
// const instance = window.$vueInstances;
// console.log(instance)
//  })
// instance.component('button-counter', {
// 	  data: function () {
// 	    return {
// 	      count: 0
// 	    }
// 	  },
// 	  template: '#product-delete'
// // 	  template: '<button v-on:click="count++">You clicked me {{ count }} times.</button>'
// 	})
	
//     var app2 = new Vue({
//         el: '#teste',
//         data: function () {
//           return {
//         	  columns: [
//                   {
//                     name: 'nome',
//                     label: 'Colaborador',
//                     field: 'nome',
//                     required: true,
//                     align: 'left',
//                     sortable: true,
//                     style: 'width: 400px'
//                   },
//                   { name: 'celular', label: 'Celular', field: 'celular', sortable: false, align: 'left' },
//                   { name: 'email', label: 'E-mail', field: 'email', sortable: true, align: 'left' },
//                   { name: 'cpfOuCnpj', label: 'CPF/CNPJ', field: 'cpfOuCnpj' }
//                 ],

//                 tableData: [],
//                 tableData2: [],
//                 filter: '',
//                 separator2: 'horizontal',
//                 visibleColumns: ['nome', 'celular', 'email', 'cpfOuCnpj']  
            
//           }
//         },
//         methods: {
//           launch: function (url) {
//             Quasar.utils.openURL(url)
//           }
//         },
//         mounted() {
//         	productService.findAll(r => {this.tableData = r.data})
//           }
//       })
    
    </script>
    </section>
  </body>
</html>