<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org" lang="pt-br"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/material-layout}">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1,width=device-width">

    <title>Show Colaborador: [[${colaborador.nome}]]</title>

  </head>
    <body>
	    <section layout:fragment="pagetitle" >
	    	<div class="row page-titles" style="padding: 0; margin-bottom: 15px;">
				<div class="col-md-5 col-8 align-self-center">
<br>
					<ol class="breadcrumb">
						<li class="breadcrumb-item"><a href="javascript:void(0)">DASHBOARD</a></li>
						<li class="breadcrumb-item ">COLABORADOR</li>
						<li class="breadcrumb-item active">EXIBIR</li>
					</ol>
				</div>
			</div>
	    </section>
        <section layout:fragment="content" >	
        	<div class="col-md-10">	
				<div class="card" >
		        	<div class="card-block">
		        		<div class="row">
		        			<div class="col-md-12">
		        				<a href="/colaboradores/" class="btn btn-sm btn-success"><i class="fas fa-arrow-left"></i> Voltar para listagem</a>
		        				<a th:href="@{/colaboradores/} + ${colaborador.id} +'/editar'" class="btn btn-sm btn-warning"><i class="fas fa-edit"></i> Editar</a>
		        				<a th:href="@{/colaboradores/} + ${colaborador.id} +'/campanhas'" class="btn btn-sm btn-primary"><i class="fas fa-calendar-week"></i> Campanhas</a>
		        				<a th:href="@{/colaboradores/} + ${colaborador.id} +'/acoes'" class="btn btn-sm btn-info"><i class="fas fa-tasks"></i> Ações</a>
		        				<a th:href="@{/colaboradores/} + ${colaborador.id} +'/doacoes'" class="btn btn-sm btn-info" style="background: #66bb6a; border: 1px solid #66bb6a;"><i class="fas fa-money-bill-alt"></i> Doações</a>
		        			</div>
		        			<br> <br>
		        			<div class="table-responsive col-md-12">
        					<table class="table table-sm">
        						<tbody>
        							<tr>
        								<td><strong>#Código:</strong></td><td>[[${colaborador.id}]]</td>        								
       								</tr>
       								<tr>
       									<td><strong>Nome:</strong></td><td>[[${colaborador.nome}]]</td>
       								</tr>
       								<tr>
        								<td><strong>E-mail:</strong></td><td>[[${colaborador.email}]]</td>
        							</tr>
       								<tr>
        								<td><strong>Celular:</strong></td><td>[[${colaborador.celular}]]</td>
        							</tr>
        							<tr>
        								<td><strong>Tipo Colaborador:</strong></td><td>[[${colaborador.tipoPessoa.getDescricao()}]]</td>
        							</tr>
       								<tr>
        								<td><strong th:text="${colaborador.tipoPessoa.getValor().equals('F')} ? 'CPF:':'CNPJ:'">CPF/CNPJ:</strong></td><td>[[${colaborador.cpfOuCnpj}]]</td>
        							</tr>
       								<tr>
        								<td><strong>Endereço:</strong></td>
        								<td>
        									<table class="table-striped">
        										<tbody>
        											<tr>
				        								<td><strong>Logradouro:</strong></td><td>[[${colaborador.logradouro}]]</td>
				        							</tr>
        											<tr>
				        								<td><strong>Número:</strong></td><td>[[${colaborador.numero}]]</td>
				        							</tr>
        											<tr>
				        								<td><strong>Complemento:</strong></td><td>[[${colaborador.complemento}]]</td>
				        							</tr>
        											<tr>
				        								<td><strong>Bairro:</strong></td><td>[[${colaborador.bairro}]]</td>
				        							</tr>
        											<tr>
				        								<td><strong>CEP:</strong></td><td>[[${colaborador.cep}]]</td>
				        							</tr>
        										</tbody>
        									</table>
        									</div>
        								</td>
        							</tr>
        						</tbody>
        					</table>
		        		</div>
		        	</div>
	        	</div>
        	</div>
        </section>
    </body>
</html>